.logo {
    color: #feba00;
}

.grey {
    color: #808080;
}

.red-500 {
    color: #F44336;
}

.blue-600 {
    color: #1E88E5;
}

.indigo-500 {
    color: #3F51B5;
}

.pink-500 {
    color: #E91E63;
}

.green-500 {
    color: #4CAF50;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}


/* Code Color Coding */
.course-kat {
    color: #000;
    font-weight: bold;
}
.html {
    background-color: #e54d26;
}
.css {
    background-color: #264de4;
}
.javascript {
    background-color: #f0db4e;
}
.android-studio {
    background-color: #51f093;
}
.unity {
    background-color: #a9a9a9;
}