.logo {
    color: #feba00;
}

.grey {
    color: #808080;
}

.red-500 {
    color: #F44336;
}

.blue-600 {
    color: #1E88E5;
}

.indigo-500 {
    color: #3F51B5;
}

.pink-500 {
    color: #E91E63;
}

.green-500 {
    color: #4CAF50;
}